*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}  
.back{
  background-color: rgb(160, 17, 189); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgb(236, 245, 113), rgb(175, 18, 175));
}

